{
  "Command": "!motivation",
  "BotTwitchUserName": "YourBotsTwitchUserName",
  "OAuthToken": "PasteValidTokenHere",
  "TargetTwitchChannel": "TheChannelYouWantToUseTheBotOn",
  "IsTestMode": false,
  "CompetingBot": {
    "BotTwitchUserName": "SomeOtherBotsTwitchUserName",
    "Command": "!demotivation",
    "ReactionMessages": [ 
		"Don't listen to {COMPETING_BOT_NAME}, {USER}!", 
		"{COMPETING_BOT_NAME} is a liar, {USER}!" 
	]
  },
  "Messages": [ 
	"{USER}, never give up!",
	"You can do it, {USER}!",
	"You're invincible, {USER}!",
  ],
  "Greeting": "Hi! I am {BOT_NAME}. Enter {COMMAND} and I'll respond.",
  "GoodbyeMessage": "Okay, bye for now!"
}